<% include partials/header %>

<div class="container">
  <div class="row">
    <h1 class="myFont" style="color:#9C9C9C;">Who's Lizzy's new friend?</h1>
    <form  action="/register" method="post">
      <div class="input-field col s6">
        <input class="mySeriousFont" style="font-size:30px;" type="text" name="username" placeholder="Name">
      </div>
      <div  class="input-field col s6">
      <input class="mySeriousFont" style="font-size:30px;" type="password" name="password" placeholder="Magic Spell">
      </div>
      <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Knock Knock</button>
    </form>
      <a href="/"  >Not yet...</a>
  </div>
</div>

<%include partials/footer %>
